#title {    
/* Ocean Research Station */

width: 643px;
height: 60px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 60px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -3px;

color: #EBF3FF;
margin: 0 auto;

}
#header {
    background-color: #009dff;
    padding-top: 174px;
    padding-bottom: 174px;
    text-align: center;
}
#paragraph1 {
    background-color: #009dff;
  /*  padding-top: 174px; */
    padding-bottom: 180px;
    text-align: center;
}
